# Habilitar mod_rewrite
RewriteEngine On

# Prevenir acceso directo a ciertos archivos
<Files "config/database.php">
    Deny from all
</Files>

<Files "includes/*.php">
    Deny from all
</Files>

<Files "sql/*.sql">
    Deny from all
</Files>

# Redirigir todo a index.php si el archivo no existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]
